.wrap {
  width: 100%;
  display: flex;
  margin: 20px;
  justify-content: center;
}

.section {
  width: 1000px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

/* img section */
.sec_imgcon {
  width: 25%;
}

.sec_imgcon > img {
  width: 100%;
}
/*img section end*/

/* home btn (in txt section)*/
.homeBtn {
  position: absolute;
  top: -28px;
  left: 0;
  font-size: 14px;
  width: 72px;
  padding: 2px;
  padding-right: 4px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: rgba(193, 202, 179, 0.2);
  text-align: center;
  border-radius: 4px;
}

.homeBtn:hover {
  transform: scale(1.2);
  z-index: 99;
}
/* home btn end*/

/* txt container*/
.sec_txtcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 50px 10px;
  border-top: 0.5px solid rgba(1, 1, 1, 0.2);
  border-bottom: 0.5px solid rgba(1, 1, 1, 0.2);
  position: relative;
}

.title {
  font-size: 50px;
  padding-bottom: 50px;
}

/* txt_ul : rating, runtime, genres (in txt section) */
.txt_ul {
  justify-content: space-between;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
}

.txt_ul > li {
  padding-bottom: 10px;
}

.txt_ul > li > span:first-child,
.sum_con span {
  color: rgba(1, 1, 1, 0.5);
  margin-right: 10px;
  font-size: 18px;
}

.genres_con {
  display: flex;
}

.genres_ul {
  display: flex;
}
.genres_ul > li {
  padding: 0 10px;
  border-right: 1px solid rgba(1, 1, 1, 0.2);
}
.genres_ul > li:first-child {
  padding-left: 0px;
}

.genres_ul > li:last-child {
  border: none;
}
/* txt_ul end */

.sum_con {
  width: 80%;
}
.sum_con > p {
  margin-top: 5px;
}

/*txt container end*/
